<!-- templates/add_prof.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Add New Professor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card mt-5 mb-3">
                <div class="card-body">
                    <h2 class="card-title">Add New Professor</h2>
                    <form method="post" action="{{ url_for('add_prof') }}">
                        <div class="form-group">
                            <label for="add_first_name">First Name</label>
                            <input type="text" class="form-control" id="add_first_name" name="add_first_name" required>
                        </div>
                        <div class="form-group">
                            <label for="add_last_name">Last Name</label>
                            <input type="text" class="form-control" id="add_last_name" name="add_last_name" required>
                        </div>
                        <div class="form-group">
                            <label for="add_phone_number">Phone Number</label>
                            <input type="text" class="form-control" id="add_phone_number" name="add_phone_number"
                                   required>
                        </div>
                        <div class="form-group">
                            <label for="add_email">Email</label>
                            <input type="text" class="form-control" id="add_email" name="add_email" required>
                        </div>
                        <div class="form-group">
                            <label for="add_address">Address</label>
                            <input type="text" class="form-control" id="add_address" name="add_address" required>
                        </div>
                        <div class="form-group">
                            <label for="add_salary">Salary</label>
                            <input type="text" class="form-control" id="add_salary" name="add_salary" required>
                        </div>
                        <div class="form-group">
                            <label for="add_gender">Gender</label>
                            <input type="text" class="form-control" id="add_gender" name="add_gender" required>
                        </div>
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary">Add Professor</button>
                            <a href="{{ url_for('manage_prof') }}" class="btn btn-secondary ml-2">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
