<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Create User</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/dist/css/bootstrap.min.css') }}">
</head>

<body class="animation">
<div class="login-wrap">
    <div class="login-html">
        <div>
            <h2 class="asu_name">ASU Management System</h2>
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-info">
            <ul>
                {% for message in messages %}
                <li><b>{{ message }}</b></li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% endwith %}
        <br>
        <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Create
        User</label>
        <form method="post" action="{{ url_for('create_user') }}" class="login-form">
            <div class="group">
                <label for="username" class="label">Username</label>
                <input id="username" name="username" type="text" class="input" required>
            </div>
            <div class="group">
                <label for="password" class="label">Password</label>
                <input id="password" name="password" type="password" class="input" required>
            </div>
            <div class="group">
                <label for="secret_code" class="label">Secret Code</label>
                <input id="secret_code" name="secret_code" type="password" class="input" required>
            </div>
            <div class="group">
                <button type="submit" class="btn btn-primary btn-block">Create User</button>
            </div>
            <!-- Cancel button to go back to the login page -->
            <div class="group">
                <a href="{{ url_for('login') }}" class="btn btn-success btn-block">Cancel</a>
            </div>
            <div class="hr"></div>
        </form>
    </div>
</div>
</body>

</html>
