<!-- templates/login.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
        }

        .container {
            margin-top: 100px;
        }

        .card {
            max-width: 400px;
            margin: 0 auto;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="card">
        <div class="card-body">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="alert alert-info">
                <ul>
                    {% for message in messages %}
                    <li><b>{{ message }}</b></li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% endwith %}
            <h2 class="text-center mb-4">Login</h2>
            <form method="post" action="{{ url_for('login') }}">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Login</button>
            </form>

            <!-- Add a link to the Create User page -->
            <div class="text-center mt-3">
                <a href="{{ url_for('create_user') }}" class="btn btn-success btn-block">Create User</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
